{% if page.depth == 0 %}
  {% assign prefix = '.' %}
{% else %}
  {% if page.depth == 1 %}
    {% assign prefix = '..' %}
  {% else %}
    {% if page.depth == 2 %}
      {% assign prefix = '../..' %}
    {% endif %}
  {% endif %}
{% endif %}

<head>
  <meta charset="utf-8" />

  {% seo -%}
  <meta name="copyright" content="Sawssen Hariz Abid 2017-2018, All Rights Reserved." />
  <meta name="google-site-verification" content="wOFzpoeLVSYC0vSdwKIg0c2xaIFXfNRD8LUeV7u68y8" />
  <meta name="msvalidate.01" content="53107FC985BA81D864CE98CC28D80C1E" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="shortcut icon" href="{{ 'imgs/favicon.ico' | relative_url | prepend:prefix }}" />
  <link rel="apple-touch-icon" href="{{ 'imgs/logo-256x256.png' | relative_url | prepend:prefix }}" />

  {% if page.bootstrap %}
  <link rel="stylesheet" type="text/css" href="{{ '/vendor/bootstrap/css/bootstrap.min.css' | relative_url | prepend:prefix }}" />
  {% endif -%}

  <link rel="stylesheet" type="text/css" href="{{ '/css/style.css' | relative_url | prepend:prefix }}" />

  {% if page.embed %}
  <link rel="stylesheet" type="text/css" href="{{ '/vendor/syntax.css' | relative_url | prepend:prefix }}"/>
  {% endif -%}

  <link rel="stylesheet" type="text/css" href="{{ '/vendor/font-awesome/css/font-awesome.min.css' | relative_url | prepend:prefix }}"/>

  {% if page.print %}
  <link rel="stylesheet" type="text/css" href="{{ '/css/print.css' | relative_url | prepend:prefix }}"/>
  {% endif %}

  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link rel="shortcut icon" type="image/png" href="{{ '/imgs/logo-16x16.png' | relative_url | prepend:prefix }}" />
  <link rel="icon" type="image/png" href="{{ '/imgs/logo-256x256.png' | relative_url | prepend:prefix }}" sizes="256x256" />
  <link rel="icon" type="image/png" href="{{ '/imgs/logo-64x64.png' | relative_url | prepend:prefix }}" sizes="64x64" />
</head>
