{% if page.depth == 0 %}
  {% assign prefix = '.' %}
{% else %}
  {% if page.depth == 1 %}
    {% assign prefix = '..' %}
  {% else %}
    {% if page.depth == 2 %}
      {% assign prefix = '../..' %}
    {% endif %}
  {% endif %}
{% endif %}

<head>
  <meta charset="utf-8" />

  <meta name="keywords" content="
         {%- for tag in page.tags -%}
           {{ tag }},
         {%- endfor -%}
         html,css,javascript,web,w3c,responsive design,{{site.author}}" />
  <meta name="copyright" content="Sawssen Hariz Abid 2017-2018, All Rights Reserved." />
  <link rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% if page.bootstrap %}
  <link rel="stylesheet" type="text/css" href="{{ 'vendor/bootstrap/css/bootstrap.min.css' | prepend:"assets/" | relative_url | prepend:prefix }}" />
  {% endif -%}

  {% asset 'css/style.css' @inline %}

  {% if page.embed %}
  <link rel="stylesheet" type="text/css" href="{{ 'vendor/syntax.css' | prepend:"assets/" | relative_url | prepend:prefix }}"/>
  {% endif -%}

  <link rel="stylesheet" type="text/css" href="{{ 'vendor/font-awesome/css/font-awesome.min.css' | prepend:"assets/" | relative_url | prepend:prefix }}"/>

  {% if page.print %}
  <link rel="stylesheet" type="text/css" href="{{ 'css/print.css' | prepend:"assets/" | relative_url | prepend:prefix }}"/>
  {% endif %}

  {% if page.quiz -%}
  <link rel="stylesheet" type="text/css" href="{{ 'css/quiz.css' | prepend:"assets/" | relative_url | prepend:prefix }}"/>
  {% endif %}

  <link rel="shortcut icon" type="image/png" href="{{ 'imgs/logo-16x16.png' | prepend:"assets/" | relative_url | prepend:prefix }}" />
  <link rel="icon" type="image/png" href="{{ 'imgs/logo-256x256.png' | prepend:"assets/" | relative_url | prepend:prefix }}" sizes="256x256" />
  <link rel="icon" type="image/png" href="{{ 'imgs/logo-64x64.png' | prepend:"assets/" | relative_url | prepend:prefix }}" sizes="64x64" />
  <script>
      (function(i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function() {
              (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o),
              m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-28759938-12', 'auto');
      ga('_trackPageLoadTime');
      ga('send', 'pageview');
  </script>
</head>
