{% if page.depth == 0 %}
  {% assign prefix = '.' %}
{% else %}
  {% if page.depth == 1 %}
    {% assign prefix = '..' %}
  {% else %}
    {% if page.depth == 2 %}
      {% assign prefix = '../..' %}
    {% endif %}
  {% endif %}
{% endif %}

<header>
  <h1>{{ page.title }}</h1>
  <div class="subheading">
    <a rel="home" href="{{ "/index.html" | relative_url | prepend:prefix }}">{{ site.title }}</a>
  </div>
  <nav>
    <form action="https://www.google.com/search">
      <ul>
        <li><a href="{{ '/index.html' | relative_url | prepend:prefix }}">Cours</a></li>
        <li><a href="{{ '/tp.html' | relative_url | prepend:prefix  }}">Travaux Pratiques</a></li>
        <li> </li>
        <li><input name="q" placeholder="Search" size="8" type="search" maxlength="256" /></li>
      </ul>
      <input name="hq" value="site:{{ site.url }}" type="hidden" />
      <input name="filter" value="0" type="hidden" />
    </form>
  </nav>
</header>
