{% if page.depth == 0 %}
  {% assign prefix = '.' %}
{% else %}
  {% if page.depth == 1 %}
    {% assign prefix = '..' %}
  {% else %}
    {% if page.depth == 2 %}
      {% assign prefix = '../..' %}
    {% endif %}
  {% endif %}
{% endif %}

{%- if page.embed -%}
<script src="{{ "js/embed.js" | asset:"@path" | relative_url | prepend:prefix }}"></script>
{%- endif %}

{% if page.quiz -%}
<script src="{{ "js/quiz.js" | asset:"@path" | relative_url | prepend:prefix }}"></script>
{%- endif %}

<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['enableHeartBeatTimer']);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://api.admin.tik.tn/p";
    _paq.push(['setTrackerUrl', u]);
    _paq.push(['setSiteId', 12]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u; s.parentNode.insertBefore(g,s);
  })();
</script>
