<ul class="soc-nav">
  <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{page.url | absolute_url | cgi_escape}}"><i class="fa fa-facebook-square"></i></a></li>
  <li><a target="_blank" href="https://plus.google.com/share?url={{page.url | absolute_url | cgi_escape}}"><i class="fa fa-google-plus-square"></i></a></li>
  <li><a target="_blank" href="https://twitter.com/intent/tweet?url={{site.url | absolute_url | cgi_escape}}&text={{page.title | cgi_escape}}"><i class="fa fa-twitter-square"></i></a></li>
  <li><a target="_blank" href="https://www.reddit.com/submit?url={{site.url | absolute_url | cgi_escape}}&title={{page.title | cgi_escape}}"><i class="fa fa-reddit-square"></i></a></li>
  <li><a target="_blank" href="https://www.tumblr.com/share/link?url={{site.url | absolute_url | cgi_escape}}&name={{page.title | cgi_escape}}"><i class="fa fa-tumblr-square"></i></a></li>
  <li><a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url | absolute_url | cgi_escape}}&title={{page.title | cgi_escape}}"><i class="fa fa-linkedin-square"></i></a></li>
  <li><a target="_blank" href="{{site.repo}}/blob/master/{{site.source }}/{{page.path}}" rel="edit"><i class="fa fa-pencil-square-o"></i> modifier</a></li>
</ul>
