table {
    /* border-collapse: collapse; */
    empty-cells: hide;
}

td,
th {
    border: 1px solid black;
    padding: 10px;
}

tbody tr:nth-child(odd) {
    background-color: #bbb;
}

td:hover {
    background: rgba(200, 200, 0, 0.4);
}