@page {
    size: a4;
    margin: 1in 0;
}

body {
    --font-size: 12pt;
    --serif: "Book Antiqua", "Times New Roman", serif;
    --sans-serif: "Helvetica", sans-serif;
    --monospace: "Courier", "Courier New", monospace;
}

a {
    text-decoration: underline;
}

header,
footer,
.divider,
h2 {
    text-shadow: none;
    color: #000;
    background-image: none;
    background-color: transparent;
}

header,
footer {
    display: none;
}

nav {
    display: none;
}

.chapitre,
.no-chapitre~h1 {
    font-size: 52px;
    font-weight: 900;
    text-align: center;
    margin: 40px 0 60px;
    font-family: serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Headers Counters */

:root {
    counter-reset: chapitre;
    counter-reset: section;
    counter-reset: subsection;
    counter-reset: subsubsection;
    counter-reset: subsubsubsection;
}

.chapitre {
    counter-increment: chapitre;
    counter-reset: section;
}

.chapitre::before {
    text-transform: initial;
    text-shadow: none;
    display: block;
    text-align: right;
    font-size: 20px;
    content: "Chapitre " counter(chapitre, upper-roman) ": ";
}

h1:not(.chapitre) {
    counter-increment: section;
}

h1:not(.chapitre):not(.no-chapitre)::before {
    content: counter(section) " - ";
}

.no-chapitre~h1::before {
    display: none;
}

/* Pages definition */

.page-break,
.no-chapitre~h1 {
    page-break-before: always;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
}

h1+p,
h2+p,
h3+p,
h4+p,
h5+p,
h6+p {
    page-break-before: avoid;
}

iframe,
img {
    page-break-inside: avoid;
}

/* Table of Content */

.toc {
    counter-reset: toc-chapitre;
    counter-reset: toc-section;
}

.toc h1 {
    text-align: center;
    font-weight: 900;
    text-align: center;
    margin: 40px 0 60px;
    font-family: serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.toc h1::before {
    content: '';
}

.toc h2 {
    border: none;
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    margin: 0;
    counter-increment: toc-chapitre;
    counter-reset: toc-section;
}

.toc h2::before {
    content: "Chapitre " counter(toc-chapitre) " : ";
}

.toc>ol>li {
    list-style: none;
    counter-increment: toc-section;
}

.toc>ol>li::before {
    content: counter(toc-section) ". ";
}

.toc h2.no-chapitre {
    display: none;
}

.toc h2.no-chapitre~ol>li>a {
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
    font-family: var(--sans-serif);
}

.toc h2.no-chapitre~ol>li::before {
    content: none;
}