form {
margin-top:10px;
margin-left:350px;
width:450px;
padding:15px;
background-color:#ffff99;
font-family : Georgia, "Times New Roman", Times, serif;
font-size:14px;
border-radius:10px 10px 10px 10px;
}
legend {
color: #384313;
font-size: 16px;
font-weight: bold;
}
fieldset {
border:1px;
}
label {
font-style: italic;
}
textarea,select,input{
background-color:#e4f9a6;
border:0;
font-family: Georgia;
font-size:12px;
padding : 5px;
border-radius:10px 10px 10px 10px;
}
li {
border:2px solid #e3ebc3;
background-color :#b9cf6a;
padding: 5px ;
margin-bottom: 2px;
border-radius:10px 10px 10px 10px;
}
#submit{
background-color : #384313;
border: 0;
color: #ffffff;
font-family: 18px Georgia, "Times New Roman", Times, serif;
box-shadow: 0 1px 1px #000000;
text-align: center;
margin-left:200px;
text-transform: uppercase;
}
#submit:hover {
background-color : #1e2506;
cursor:pointer;
box-shadow : 0 1px 1px #c0d576;